header {
  background-color: #bccbde;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top:0;
  padding: 0px;
  width:100%;
  margin-bottom: 50px;
}

header div{
  padding: 5px;
}
