<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="mainPage.style.css">
    <title>Test Les Halles du Web</title>
  </head>
  <body>
    <header>
      <div class="SearchPanel">
        <form class="" action="" method="post">
          <p>Categories :
          <select class="" name="Categories"> <!--  Remplacer par php -->
            <option value="Outils">Outils</option>
            <option value="Jardinage">Jardinage</option>
          </select>
          Region :
          <select class="" name="Region">  <!--  Remplacer par php -->
            <option value="Rhone">Rhone</option>
            <option value="Picardie">Picardie</option>
            <option value="Centre">Centre</option>
          </select>
          <input type="submit" name="Rechercher" value="Rechercher">
          </p>
        </form>
      </div>
      <div class="PersonnalPanel">
        <a href="pageConnection.html"><p>Se connecter</p></a>
        <a href="pageConnection.html"><p>Creer Un Compte</p></a>
      </div>
    </header>
    <nav>
      <div class="Categorie">
        <h3>Categorie 1</h3>
        <div class="Offre">
          <img src="" alt="">
          <h5>Offre 1</h5>
        </div>
        <div class="Offre">
          <img src="" alt="">
          <h5>Offre 2</h5>
        </div>
      </div>
      <div class="Categorie">
        <h3>Categorie 2</h3>
        <div class="Offre">
          <img src="" alt="">
          <h5>Offre 1</h5>
        </div>
        <div class="Offre">
          <img src="" alt="">
          <h5>Offre 2</h5>
        </div>
      </div>
      <div class="Categorie">
        <h3>Categorie 3</h3>
        <div class="Offre">
          <img src="" alt="">
          <h5>Offre 1</h5>
        </div>
        <div class="Offre">
          <img src="" alt="">
          <h5>Offre 2</h5>
        </div>
      </div>
      <div class="Categorie">
        <h3>Categorie 4</h3>
        <div class="Offre">
          <img src="" alt="">
          <h5>Offre 1</h5>
        </div>
        <div class="Offre">
          <img src="" alt="">
          <h5>Offre 2</h5>
        </div>
      </div>
      <div class="Categorie">
        <h3>Categorie 5</h3>
        <div class="Offre">
          <img src="" alt="">
          <h5>Offre 1</h5>
        </div>
        <div class="Offre">
          <img src="" alt="">
          <h5>Offre 2</h5>
        </div>
      </div>
    </nav>
    <footer><a href="#test"> <p>A propos </p> </a></footer>
  </body>
</html>
